{% extends 'app_music/base.html' %}

{% load static %}

{% block title %} Formulario curso {% endblock title %}

{% block main %}
<h4>Cursos</h4>
    {% for curso in cursos %}
        <p>Nombre: {{curso.nombre}}</p>
        <a href='{% url "CursoDetalle" curso.pk %}'>Ver</a>
        {% if request.user.is_superuser%}
        -
        <a href="{% url 'CursoBorrar' curso.pk %}">Borrar</a>
        -
        <a href="{% url 'ActualizaCurso' curso.pk %}">Actualizar</a>
        -
        {%endif%}
                
    {% endfor %}
    <br><br><br>
    <h4><a href="{% url 'NuevoCurso' %}">Generar Nuevo Curso</a></h4><br>
    {% endblock main %}
