{% extends 'app_music/base.html' %}

{% load static %}

{% block title %} Formulario Estudiante {% endblock title %}

{% block main %}
<h4>Estudiante</h4>
    {% for estudiante in Estudiantes %}
        <p>Nombre: {{estudiante.apellido}}, {{estudiante.nombre}}</p>
        <a href="{% url 'EstudianteBorrar' estudiante.pk %}">Borrar</a>
        -
        <a href="{% url 'ActualizaEstudiante' estudiante.pk %}">Actualizar</a>
        -
        <a href="{% url 'EstudianteDetalle' estudiante.pk %}">Ver</a>
    {% endfor %}
    <br><br><br>
    <a href="{% url 'NuevoEstudiante' %}">Generar Nuevo Estudiante</a><br>
    {% endblock main %}
