{% extends 'app_music/base.html' %}

{% load static %}

{% block title %} Formulario curso {% endblock title %}

{% block main %}
<h4>Cursos</h4>
    {% for curso in cursos %}
        <p>Nombre: {{curso.nombre}}, <br> Camada: {{curso.camada}}</p>
        <a href="{% url 'CursoBorrar' curso.pk %}">Borrar</a>
        -
        <a href="{% url 'ActualizarCurso' curso.pk %}">Actualizar</a>
        -
        <a href='{% url "CursoDetalle" curso.pk %}'>Ver</a>
    {% endfor %}
    <br><br><br>
    <h4><a href="{% url 'NuevoCurso' %}">Generar Nuevo Curso</a></h4><br>
    {% endblock main %}
