{% extends 'app_music/base.html' %}

{% load static %}

{% block title %} Cambiar Clave {% endblock title %}

{% block main %}
 
    <div class="d-flex justify-content-center">
 
        <div class="d-flex flex-column">
   
            
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                {{form}}
                </table>
                <input type="submit" value="CambiarClave">

            </form>

        </div>
    </div>
{% endblock main %}